* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: rgb(188, 110, 224);
}

main {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: auto;
    padding: 10px ;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}